@import '~bootstrap/scss/bootstrap';

header {
    img {
        margin: 10px 0;
    }

    ul {
        display: flex;
        justify-content: flex-end;

        li {
            padding: 20px 15px;

            a {
                text-decoration: none;
                color: black;
                font-weight: bold;
                padding-bottom: 40px;
                text-transform: uppercase;

                &:hover {
                    color: #0C7CEC;
                    border-bottom: 5px solid #0C7CEC;
                }
            }
        }
    }
}

main {
    .bg-cartoon {
        background-image: url('../img/jumbotron.jpg');
        height: 600px;
        background-size: cover;
        position: relative;

        .badge {
            position: absolute;
            bottom: -30px;
            left: 640px
        }
    }

    .card {


        img {
            width: 200px;
            height: 250px;
        }
    }

    .bg-lightblue {
        background-color: #0C7CEC;

        .col {
            padding: 0px;
            margin: 0px;
            align-content: center;
            align-self: center;


            p {
                padding-left: 0px;
            }

            img {
                max-width: 70px;
                max-height: 70px;
                margin-right: 5px;
            }
        }
    }
}

footer {
    .bg-img {
        background-image: url('../img/footer-bg.jpg');
        background-size: cover;
        overflow: hidden;
    }

    .logo-container {
        position: relative;
        overflow: hidden;
    }

    .logo {
        width: 600px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .bg-footer {
        background-color: #303030;

        .btn {
            border-color: #0082F9;
            border-radius: 0;
            padding: 10px;
        }
    }

    .content img {
        margin-right: 10px;
    }
}